{% extends 'base.html' %}
{% load humanize %}

{% block page_title %}Disclaimer{% endblock %}

{% block page_content %}
<div class="row">
  <h1>Disclaimer</h1>
  <div class="col-md-6">
    <p><small>If you require any more information or have any questions about this site's disclaimer, please feel free to contact me by email at davaocitydabbler@gmail.com.</small></p>
    <h3>Disclaimers for Unofficial PH Market Summary</h3>
    <p>All the information on this website is published in good faith and for general information purpose only. Unofficial PH Market Summary does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website, is strictly at your own risk. The site owner will not be liable for any losses and/or damages in connection with the use of this website.</p>
    <p>Information provided on this website is general in nature and does not constitute financial advice. Individuals should not act upon any such information without prior consultation with a qualified financial adviser.</p>
    <h3>Consent</h3>
<p>By using this website, you hereby consent to this disclaimer and agree to its terms.</p>
<h3>Update</h3>
<p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
  </div>
</div>
{% endblock %}