{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_content %}
<div class="row">
  <h1>PH Indices</h1>
  <div class="col-md-6"></div>
    <p>Values as of {{ last_update_time }}</p>
    {% if current_index_values %}
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Index</th>
          <th>Value</th>
          <th>Chg</th>
          <th>% Chg</th>
        </tr>
      </thead>
      <tbody>
        {% for item in current_index_values %}
        <tr>
          <td>{{ item.market_index.name }}</td>
          <td>{{ item.current_value }}</td>
          <td>{{ item.points_change }}</td>
          <td>{{ item.percent_change }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p><em>No index values to display at this time</em></p>
    {% endif %}
  </div>
</div>
{% endblock %}